@font-face {
    font-family: 'lucidballpoint';
    src: url(./assets/lucidballpoint.ttf);
}

.navi {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 2rem;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 40ch;
    padding: 25px;
}

.logoContainer h1{
    font-family: 'lucidballpoint';
    font-size: 4rem;
}

.navLinksContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;

    .navLink {
        cursor: pointer;
    }
}
