button {
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
  
    @keyframes buttonAnimation {
      from {background-color: black;}
      to {background-color: white;}
    }

    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
      animation: buttonAnimation .5s ease;
    }
    
    @keyframes buttonAnimationGoogle {
      from {background-color: #DB4437;}
      to {background-color: #ff8176;}
    }

    &.google-sign-in {
      background-color: #DB4437;
      color: white;
  
      &:hover {
        background-color: #ff7063;
        border: none;
        animation: buttonAnimationGoogle .5s ease;
      }
    }
  
    &.inverted {
      background-color: white;
      color: black;
      border: 1px solid black;
  
      &:hover {
        background-color: black;
        color: white;
        border: none;
      }
    }
  }