* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'lucidballpoint';
    src: url(./assets/lucidballpoint.ttf);
}

body {
    background-color: rgb(238, 243, 246);
}